<!doctype html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HRAT</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">
</head>

<body>
    <div class="card-header">Welcome to HRAT, {{x}}</div>
    <a href="{{ url_for('convert') }}">Convert Fahrenheit to Celsius</a>
    <a href="{{ url_for('students') }}">Students</a>
    <div class="card-body">
        <p class="card-text">Tornado</p>
    </div>
</body>

</html>